* {
    font-size: 1.1rem;
}

/* styles/globals.css */

.katex {
    text-align: left !important; /* Align block math to the left */
    margin-left: 0 !important; /* Remove auto margins */
    margin-right: auto !important;
}